<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>compiler_elm</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># Printing System config details
sh ~/Documents/config_details.sh

sudo apt-get install python-yaml
cd ~/Documents; cd compilerNightly
rm -rf Tensile
mkdir Tensile; cd Tensile
git clone https://github.com/ROCmSoftwarePlatform/Tensile repo
cd repo
git checkout master
#create benchmark_config.yml in ./Tensile/Configs
mkdir build
cd build
#python2 ../Tensile/Tensile.py ../Tensile/Configs/test_sgemm.yaml ./

python2 ../Tensile/Tensile.py ../Tensile/Configs/rocblas_sgemm_asm_single_kernel.yaml ./</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.8.10"/>
  </buildWrappers>
</project>